@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<d1iv class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a href="Users">User management</a></li>
    </ul>
</d1iv>
